@font-face {
    font-family: Basier;
    src: url(../font/basier.ttf);
}

  *,.timeline__content-desc,.timeline-header__title {
    margin: 0
  }

  * {
    padding: 0
  }

  *,.timeline__content-title,.timeline__content-desc,.timeline-item {
    box-sizing: border-box
  }

  html,header,video,svg,.container-arrow,.timeline-item:before,.timeline-container,.timeline-container:before,.timeline-header,.overlay,.menu-hover-lines .active a::after,.menu-hover-lines .active a::before,.menu-hover-lines a:hover::after,.menu-hover-lines a:hover::before {
    width: 100%
  }

  html,svg,.timeline:before,.timeline-container:before,.overlay {
    height: 100%
  }

  body,.directions {
    background: white
  }

  body,svg text,.timeline__content-title,.timeline__content-desc,.timeline-item:before,.timeline-header__title,.footer {
    font-family: Basier, sans-serif
  }

  body,header,.timeline {
    margin: 0 auto
  }

  a {
    outline: none!important
  }

  a,.button a,a:focus,a:hover,.container-arrow:focus,.container-arrow:hover {
    text-decoration: none
  }

  a,.link,.menu-hover-lines li.active > a,.menu-hover-lines a:hover,.hero h3,.container-arrow {
    color: #393941
  }

  a,.footer {
    font-size: 1.5vw
  }

  ul,section,.container-arrow,section h2.atitle {
    z-index: 10
  }

  ul {
    margin-left: 7%;
    list-style: none
  }

  ul,#column-1,#column-2,#column-3 {
    float: left
  }

  li {
    display: inline
  }

  .link {
    margin-top: 5%
  }

  .link {
    margin-right: 7%;
    text-align: right
  }

  .link,.menu-hover-lines,svg text,.hero h3,.container-arrow,.title,.buttonc,.buttonb {
    text-transform: uppercase
  }

  .menu-hover-lines,section,.hero,.container-arrow,section h2.atitle,section p,.timeline-header,.title,.button,.button a,.footer h4,.footer h2,.icons a,#column-1,.buttonc,.buttonb {
    text-align: center
  }

  .menu-hover-lines {
    font-weight: 500;
    letter-spacing: 1px
  }

  .menu-hover-lines,.menu-hover-lines li.active > a,.menu-hover-lines a:before,.menu-hover-lines a::after,.menu-hover-lines a:hover {
    transition: all 0.35s ease
  }

  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10,10,10,0.5);
    margin-left: 1rem
  }

  .menu-hover-lines li a,header,section,.hero,.timeline,.timeline-item,.timeline-container,.timeline-header,.container {
    position: relative
  }

  .menu-hover-lines li:first-child a {
    margin-left: 0
  }

  .menu-hover-lines li.active > a {
    background-color: transparent
  }

  .menu-hover-lines a:before {
    height: 2px;
    border-radius: 0.8px;
    content: '';
    width: 0
  }

  .menu-hover-lines a::after {
    height: 2px;
    border-radius: 0.8px;
    content: '';
    width: 0;
    bottom: 0;
    right: 0
  }

  .menu-hover-lines a:before,.menu-hover-lines a::after,svg,.container-arrow,.timeline:before,.timeline-item:before,.timeline-container:before,.overlay,img,.title,.button {
    position: absolute
  }

  .menu-hover-lines a:before,.menu-hover-lines a::after,.buttonc,.buttonb {
    background-color: #c3d1e7
  }

  .container-arrow {
    bottom: 0;
    margin-top: -10em;
    opacity: 0.7;
    line-height: 10em
  }

  .menu-hover-lines a::before,svg,.timeline-container:before,.overlay {
    top: 0
  }

  .menu-hover-lines a::before,svg,.container-arrow,.timeline-container:before,.overlay,img,.title,.button {
    left: 0
  }

  header {
    justify-content: space-between;
    animation: fadeIn 1s 0.5s forwards ease-in
  }

  header,section {
    align-items: center
  }

  header,.timeline-item:before,.button {
    opacity: 0
  }

  svg {
    background-image: linear-gradient(transparent 5%,#c3d1e7 100%)
  }

  svg text {
    font-weight: 900;
    font-size: 3.5em;
    letter-spacing: -.03em
  }

  svg rect {
    fill: white
  }

  svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask)
  }

  section,.hero,section h2.atitle,.icons a,.footer {
    background-color: #f2f2f2
  }

  section,.timeline {
    flex-direction: column
  }

  section,.timeline,.timeline-item,.grid-flex {
    display: flex
  }

  .hero {
    justify-content: center
  }

  .hero h3 {
    margin-top: -20vw;
    font-size: 4.45vw;
    font-weight: 300;
    opacity: 0.8
  }

  .container-arrow,.title {
    font-weight: 700
  }

  .container-arrow,.container-arrow span,.icons a {
    display: inline-block
  }

  .container-arrow,.icons a,.buttonc,.buttonb {
    cursor: pointer
  }

  .container-arrow,.buttonb {
    font-size: 1.2em
  }

  .container-arrow span {
    font-size: 3em;
    animation: 1s down infinite alternate;
    -webkit-animation: 1s down infinite alternate;
    -webkit-animation-delay: 21s;
    -moz-animation-delay: 21s;
    -o-animation-delay: 21s;
    animation-delay: 21s
  }

  hr {
    width: 30vh;
    height: 3px;
    background-color: #7599c2;
    border-radius: 3px;
    border: 0;
    margin: 6vh
  }

  section h2.atitle {
    margin-top: 6vh;
    font-size: 5vh;
    margin-bottom: 5vh
  }

  section p {
    line-height: 2;
    padding: 0 2vh;
    font-size: 2.5vh
  }

  #section-2 p {
    max-width: 85%
  }

  .timeline {
    flex-wrap: wrap;
    max-width: 90%
  }

  .timeline__content-title,.timeline__content-desc,.timeline-header__title,.footer {
    font-weight: 400
  }

  .timeline__content-title {
    font-size: 3vw;
    margin: -10px 0 0;
    transition: .4s;
    padding: 110px 10px 20px;
    color: #fff
  }

  .title {
    font-size: 3vw;
    top: 11vw;
    transition: top .5s ease;
    text-shadow: 0 0 5vw rgba(0,0,0,0.3)
  }

  .timeline-header__title {
    color: #fff;
    font-size: 46px
  }

  .timeline__content-desc {
    font-size: 15px;
    text-shadow: rgba(99,99,99,0.9);
    line-height: 25px
  }

  .timeline__content-desc,.timeline-item:before {
    color: rgba(255,255,255,0.9)
  }

  .timeline:before {
    left: 50%;
    width: 2px;
    margin-left: -1px;
    content: "";
    background: rgba(255,255,255,0.09)
  }

  .timeline-container:before {
    content: "";
    background: rgba(83,93,104,0.5)
  }

  .timeline-item {
    padding: 40px 0;
    opacity: .5;
    transition: .5s;
    width: calc(50% - 40px);
    transform: translateY(-80px)
  }

  .timeline-item:nth-child(even) {
    align-self: flex-end
  }

  .timeline-item--active,.timeline-item--active:before,.container:hover .button {
    opacity: 1
  }

  .timeline-item--active {
    transform: translateY(0);
    filter: blur(0px)
  }

  .timeline-item--active:before {
    top: 50%;
    transition: .5s all .4s
  }

  .timeline-item--active .timeline__content-title {
    margin: -50px 0 20px
  }

  .timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
    display: none
  }

  .timeline-header {
    margin-bottom: 80px
  }

  .container,.directions,.footer {
    margin-top: 1vw
  }

  .container {
    margin-bottom: 1vw
  }

  .container,img,.title,.button {
    width: 47vw
  }

  .container,img {
    height: 30vw
  }

  .overlay {
    background: rgba(195,209,231,0);
    transition: background 0.5s ease
  }

  .container:hover .overlay {
    display: block;
    background: rgba(195,209,231,.3)
  }

  img {
    border-radius: 0.2vw
  }

  .title,.button a,.buttonc,.buttonb {
    color: white
  }

  .title,.button a {
    z-index: 1
  }

  .container:hover .title {
    top: 5vw
  }

  .grid-flex {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around
  }

  .button {
    top: 15vw;
    transition: opacity .35s ease
  }

  .button a {
    width: 17vw;
    padding: 1.2vw 4.8vw;
    border: solid 2px white
  }

  .footer h4,.icons {
    margin-top: 2vw
  }

  .footer h4 {
    font-size: 1.4vw;
    opacity: 0.5
  }

  .footer h2 {
    font-size: 1.1em;
    width: 80%
  }

  .icons a {
    width: 3vw;
    height: 3vw;
    font-size: 1.8vw;
    color: #a9a9a9;
    line-height: 3.2vw;
    margin-right: 0.3vw
  }

  .icons a,.buttonc,.buttonb {
    border-radius: 1px
  }

  .footer {
    overflow-x: hidden;
    overflow-y: hidden
  }

  #column-1 {
    width: 20%;
    padding-bottom: 2vw
  }

  #column-3 {
    width: 20%;
    padding-top: 2.5vw
  }

  #column-1,#column-2,#column-3 {
    min-height: 100%
  }

  #column-2 {
    width: 60%
  }

  .buttonb {
    padding: .5em 0.8em
  }

  a:focus,a:hover {
    color: #000
  }

  .timeline-item:nth-child(even):before {
    text-align: right;
    right: auto;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255,255,255,0.9);
    padding-right: 15px
  }

  .timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    font-size: 2vw;
    border-left: 2px solid rgba(255,255,255,0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    right: calc(-100% - 56px)
  }

  .timeline-container {
    padding: 80px 0;
    transition: .5s ease 0s;
    background-attachment: fixed;
    background-size: cover
  }

  @keyframes fadeIn {
    100%{opacity: 1
  }

  }@keyframes down {
    0%{transform: translateY(0px)
  }

  100% {
    transform: translateY(20px)
  }

  }@-webkit-keyframes down {
    0%{-webkit-transform: translateY(0px)
  }

  100% {
    -webkit-transform: translateY(20px)
  }

  }@media(min-width:320px) and (max-width:435px) {
    .link{margin-top: 5%
  }

  a,.icons a {
    font-size: 3.5vw
  }

  svg text {
    font-size: 3.15em
  }

  svg {
    margin-top: 9%
  }

  .hero h3 {
    font-size: 1.1em
  }

  .container-arrow span {
    font-size: 1.5em
  }

  .container-arrow {
    line-height: 3.5em
  }

  section p {
    line-height: 1.5
  }

  #section-2 p {
    max-width: 95%
  }

  .timeline {
    max-width: 100%
  }

  .timeline-container:before {
    background: rgba(83,93,104,1)
  }

  .footer h2 {
    font-size: 2em
  }

  .footer h2,.icons a {
    text-align: center
  }

  .icons a {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 1px;
    color: #a9a9a9;
    line-height: 5vw;
    margin-right: 1vw
  }

  }

  @media only screen and (max-width:767px) {
    .timeline:before{
        left:40px
    }

    .timeline-item {
        align-self: baseline!important;
        width: 100%;
        padding: 0 30px 150px 80px
    }

    .timeline-item:before {
        left: 10px!important;
        padding: 0!important;
        top: 50px;
        text-align: center!important;
        width: 60px;
        border: none!important
    }

    .timeline-item:last-child {
        padding-bottom: 40px
    }

  }

  .button a  {
    width: 17vw;
    padding: 1.2vw 4.8vw;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    text-decoration: none;
  }

  footer {
    text-align: center;
    justify-content: center;
  }

  h2 {
    justify-content: center;
  }


.main {
  width: 100%;
  margin: 0 auto;
  position: relative;
justify-content: space-between;
    align-items: center;
    opacity: 0;
}




.main video {
margin-top:5%;
  width: 100%;
}

svg {
margin-top:5%;

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

    background-image: linear-gradient(transparent 5%, #c3d1e7 100%);}




svg text {
    font-family: Basier, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: -0.03em;
}




svg rect {
  fill: white;

}

svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}



@media  (min-width: 320px) and (max-width: 435px) {
svg text {font-size: 3.15em;}
svg {margin-top: 9%;}
}


section {
z-index: 10;
position: relative;
background-color: #f2f2f2;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;

}
